@font-face {
    font-family: Montserrat;
    src: url(..//fonts/Montserrat-Regular.ttf);
}
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.navigation {
    display: grid;
    grid-template-rows: auto auto;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.top-nav {
    width: 100%;
    height: 172px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0.66) 10.87%, rgba(0, 0, 0, 0.39) 44.29%, rgba(0, 0, 0, 0.39) 93.6%);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-row: 1/2;
    transition-duration: 350ms;
    z-index: 11;
    

}
.bottom-nav {
    display: flex;
    height: 0;
    width: 100%;
    background-color: #524B45;
    margin-top: 172px;
    transition-duration: 350ms;
    grid-row: 2/3;
}

.list-menu-hamburger {
    margin: 0;
    padding: 0;

    list-style: none;
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-top: 20px;
    transition-duration: 350ms;
    transform: translateY(-300px);


}

.list-menu-hamburger li {
    display: grid;
    place-items: center;
    width: 100%;
    background-color: #6b625b;
    padding-block: 10px;
}
.list-menu-hamburger li a {
    color: #fff;
    font-size: 21px;
    text-decoration: none;
    font-family: Montserrat;
}


.a-logo-atmosfera {
    margin-left: 8%;

}
.logo-atmosfera {
    width: 260px;
    height: 94px;
   
    cursor: pointer;
    
}


.sec-table a {
    text-decoration: none;
}
p.nav-botton {
    text-align: center;
    flex-shrink: 0;
    color: #FEFEFE;
    text-align: center;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    width: 100%;
    cursor: pointer;
    
}
.line1 {
    position: relative;
    top: 2px;
    background: #FEFEFE;
}
.sec-table {
    width: 25%;
}
.sec-table :hover {
    color: #e6e3e3;
}
.nav-table {
    width: 44%;
    min-width: 450px;
    height: 35px;
    margin-right: 6%;
}



/* ----------------------BOTAO MENU------------------------- */

.div-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8%;
    height: 60px;width: 70px;
    border-radius: 10px;
    cursor: pointer;
}
.div-menu-button :hover {
    background-color: rgba(0, 0, 0, 0.089);
}
.div-menu-button :active {
    background-color: rgba(0, 0, 0, 0.267);
}

.menu-button {
    height: 23px;
    padding: 16px;
    border-radius: 10px;
}

/* --------------------------------------------------------------- */

.sec-img1 {
    background-image: url(..//images/atmosfera-foto-frente.png);
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* SEC ESCOLHA */

.sec1 {
    width: 100%;
    height: auto;
    background: #FEFEFE;
    position: relative;
    display: flex;
}

.linha-contorno {
    width: auto;
    height: auto;
    margin: 30px;
    border: 1px solid #827A66;
    display: grid;
    width: 100%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-template-rows: auto auto auto auto auto;

}
/* ---------- Linha1 --------- */
.escolha-div {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    margin: 25px 10px 3px 10px;
}
.escolha-div-left {
    grid-column: 1/2;
}
.escolha-div-center {
    grid-column: 2/3;
}
.escolha-div-right {
    grid-column: 3/4;
}
.escolha-p {
    color: #534537;
    text-align: center;
    font-family: Montserrat;
    font-size: clamp(15px, 5vw, 19px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    cursor: pointer;
    
}
.escolha-div :hover {
    color: #b99a7b;
}
.escolha-div :active {
    color: #8a6540;
}


/* ---------- Linha2 --------- */

.div-linha-selecionado {
    grid-row: 2/3;
    grid-column: 2/3;
    /* border: 1px solid green; */
    margin: 0 0 45px 0;
    transition-duration: 0.2s;
    
}
.linha-selecionado {
    width: 50px;
    height: 2px;
    background: #A66517;
    border: 0;
    
    
}

/* ---------- Linha3 --------- */

.linha3 {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 45px 0;
    /* border: 1px solid green; */
}
.linha-titulo {
    width: 75%;
    height: 1px;
    background: #827A66;
    border: none;
}
.titulo-escolha {
    transition-duration: 200ms;

    color: #000;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

/* ---------- Linha4 --------- */

.div-texto-escolha {
    grid-row: 4/5;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    margin: 0 0 50px 0;
}
.texto-escolha {
    transition-duration: 200ms;

    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 10%;
}

/* ---------- Linha5 --------- */

.div-botao-escolha {
    grid-row: 5/6;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
    /* border: 1px solid green; */
    transition-duration: 200ms;
}
.botao-escolha {
    transition-duration: 200ms;
    width: 350px;
    height: 60px;
    border: 1px solid #A66517;
    background-color: #00000000;

    color: #A66517;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition-duration: 0.2s;
}

/* -------------------------------- */

.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: #9c6017 radial-gradient(circle, transparent 1%, #9c6017 1%) center/15000%;
    color: #fefefe;
}
.ripple:active {
    background-color: #995400;
    background-size: 100%;
    transition: background 0s;
}



/* --------------------------SEC2-------------------------- */

.sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: #FEFEFE;
    background: #36312C;
}

.container-sec2 {
    width: 100%;
    margin: 40px;
    display: grid;
    
    grid-template-columns: 1fr 2fr;
    position: relative;
    
}
.bloco-texto {
    
    grid-column: 2/3;
    background-color: #524B45;
    height: auto;
    
    max-width: 1000px;

    
    width: 100%;
    height: auto;
    margin: 40px;
    position: relative;
    

}
.linha-contorno-sec2 {
    border: 1px solid #e8e3de54;
    width: auto;
    
    margin: 30px;
    display: grid;

}




.titulo-sec2 {
    padding: 0;
    margin: 0;
    color: #E8E3DE;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}



.texto-sec2 {
    padding: 0;
    margin: 0;
    margin-inline: 8%;
    width: auto;
    color: #E8E3DE;
    text-align: center;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.div-botao-sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 23px 0;
    grid-row: 3/4;
}
.botao-sec2 {
    color: #E8E3DE;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #00000000;
    width: 100%;
    max-width: 350px;
    height: 60px;
    flex-shrink: 0;
    border: 1px solid #E8E3DE;
    cursor: pointer;
}


.div-img-sec2 {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
    z-index: 1;
}
.img-sec2 {
    width: 100%;
    max-width: 450px;
}













    


.ripple1 {
    background-position: center;
    transition: background 0.8s;
}
.ripple1:hover {
    background: #E8E3DE radial-gradient(circle, transparent 1%, #E8E3DE 1%) center/15000%;
    color: #524B45;
}
.ripple1:active {
    background-color: #b8b4b0;
    background-size: 100%;
    transition: background 0s;
}

/* -------------------------------- SEC 3 ---------------------------------- */

.sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: #FEFEFE;
}

.container-comida {
    width: 90%;
    height: auto;
    max-width: 1226px;
    background: #a66617;
    margin: 40px;
    position: relative;
}
.linha-contorno-sec3 {
    width: auto;
    height: 100%;
    margin: 30px;
    border: 1px solid #D99F5A;
    display: grid;
    grid-template-columns: 10fr 6fr;
}
.titulo-sec3 {
    color: #FEFEFE;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    grid-column: 1/2;
    
}
.texto-sec3 {
    color: #FEFEFE;
    text-align: center;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-column: 1/2;
    margin-block: 0;
    margin-inline: 8%;
}

.div-botao-sec3 {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    margin: 50px 0 23px 0;
}
.botao-sec3 {
    width: 100%;
    max-width: 350px;
    height: 60px;
    background: 0;
    border: 1px solid #FEFEFE;
    color: #FEFEFE;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.img-sec3 {
    width: 100%;
}
.div-img-sec3 {
    margin: -50px 5%;
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ripple2 {
    background-position: center;
    transition: background 0.8s;
}
.ripple2:hover {
    background: #e7e7e7 radial-gradient(circle, transparent 1%, #e7e7e7 1%) center/15000%;
    color: #a66617;
}
.ripple2:active {
    background-color: #c2c2c2;
    background-size: 100%;
    transition: background 0s;
}

/* ------------------------------------------------------------- */

.sec-img3 {
    background-image: url(..//images/img-mesa-com-flor.png);
    width: 100%; height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* ----------------------------SEC 4---------------------------- */

.sec4 {
    width: 100%;
    height: auto;
    background: #FEFEFE;
    position: relative;

    display: flex;
    
}

.linha-contorno-sec4 {
    width: auto;
    height: auto;
    margin: 30px;
    border: 1px solid #000;
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 4fr;
}

.centralizador-textos-sec4 {
    grid-column: 1/2;
    background-color: #282623;
    display: grid;
    
    
}
.div-titulo-sec4 {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: end;
}
.titulo-sec4 {
    
    color: #000;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px 0 40px 0;
}

.div-texto-sec4 {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-sec4 {

    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block: 0;
    margin-inline: 8%;
}

.div-botao-sec4 {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: start;
    
    margin: 40px 0 40px 0;
}
.botao-sec4 {
    width: 350px;
    height: 60px;
    flex-shrink: 0;
    border: 1px solid #000;

    color: #000;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: 0;
    cursor: pointer;
}
.centralizador-fotos-sec4 {
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-fotos-sec4 {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    gap: 30px;
    background-color: #282623;
    margin: 6%;
    max-width: 420px;
}

.img-sec4 {
    width: 100%;
}

.img1-sec4 {
    grid-row: 1/2;
    grid-column: 1/2;
}
.img2-sec4 {
    grid-row: 2/3;
    grid-column: 1/2;
}
.img3-sec4 {
    grid-row: 1/2;
    grid-column: 2/3;
}
.img4-sec4 {
    grid-row: 2/3;
    grid-column: 2/3;
}

/* --------------------------------SEC5-------------------------------- */
.sec5 {
    background-color: #2C2926;
    padding-bottom: 50px;
}

.div-titulo-sec5 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-sec5 {
    color: #E8E3DE;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 23px;
}


.container-sec5 {
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: 19fr 250fr 19fr;
    grid-template-rows: 1fr;
    background-color: #00000021;
    gap: 0.5%;

    
}

.flecha-sec5 {
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.img-flecha-sec5 {
    cursor: pointer;
    margin: 6px;
    width: 30px;
    /* max-width: 33px;
    min-width: 15px; */
}
.flecha-sec5 :hover {
    /* CLAREAR A FLECHA */
    
}


.container-fotos-sec5 {
    display: flex;
    gap: 2%;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    justify-content: space-between;
    touch-action: cross-slide-x;
}

.container-fotos-sec5::-webkit-scrollbar {
    display: none;
}


img.foto-sec5 {
    width: clamp(200px, 20vw, 300px);
    margin: 2% 0;
}
div.foto-sec5 {
    width: 100%;
    margin: 2% 0;
    display: flex;
    align-items: center;
}


/* ----------------------------SEC 6----------------------------*/

.sec6 {
    width: 100%; height: auto;
    background-color: #23201E;
    padding: 160px 0;
}
.container-elementos-sec6 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px 25px;
    padding: 0 25px;
}

/* ------ Container 1 ------*/

.container1-sec6 {
    display: grid;
    grid-template-columns: 30px 1;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px;

}

.container1-sec6 div {
    display: flex;
    align-items: center;
}

.div-img-container1-sec6 {
    display: flex;
    align-items: center;
}
.img-container1 {
    grid-column: 1/2;
}
.img1-container1 {
    grid-row: 1/2;
    width: 30px;height: 30px;
}
.img2-container1 {
    grid-row: 2/3;
    width: 30px;height: 24px;

}
.img3-container1 {
    grid-row: 3/4;
    width: 30px;height: 34px;
}


.span-container1 {
    color: #CBC2B9;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-column: 2/3;
    margin-left: 15px;
}

.span1-container1 {
    grid-row: 1/2;
}
.span2-container1 {
    grid-row: 2/3;
}
.span3-container1 {
    grid-row: 3/4;
}

/* ------ Container 2, 3 e 4 ------*/

.container2_3_4-sec6 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;

}
.p1-container2_3_4 {
    color: #CFA77F;
    margin: 0;
}
.p2-container2_3_4 {
    color: #CBC2B9;
    margin: 0;
    margin-top: 9px;    
}
/* ----------------------- FOOTER -------------------------- */

footer {
    width: 100%;height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-footer {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
    padding: 0;
}

/* ------------------------------- MEDIA --------------------------------- */
@media (max-width: 550px) {
    button {
        max-width: 205px !important;
        font-size: 21px !important;
    }
    /* -----------------Textos----------------- */
    .texto-escolha, .texto-sec2, .texto-sec3, .texto-sec4 {
        font-size: 17px !important;
    } 
    /* -----------------Titulos----------------- */
    .titulo-sec2, .titulo-sec3, .titulo-sec4 {
        font-size: 38px !important;
    } 
    .titulo-escolha {
        font-size: 28px !important;
    }
    .escolha {
        font-size: 14px;
        padding-left: 7px; padding-right: 7px;
    }

    .container-elementos-sec6 div div span, .container-elementos-sec6 div p{
        font-size: 13px;
    }
    .p-footer {
        font-size: 13px;

    }
    .sec6 {
        padding-block: 40px;
    }
    
    
}

@media (max-width: 365px) {
    .container-elementos-sec6 {
        justify-content: start;
    }
    
}


@media (max-width: 1100px) {
    /* ------------ SEC2 --------- */
    .bloco-texto {
        grid-column: 1/3;
        background-color: #00000000;
        background-image: url(..//images/imagem-fundo-ambiente.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 90%;
        
    }
    .div-img-sec2 {
        display: none !important; 
    }  

    .container-sec2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    /* ------------- SEC3------------- */

    .container-comida {
        width: 90%;
        background-color: #e9000000;
        background-image: url(..//images/foto-fundo-salmao.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .div-img-sec3 {
        display: none;
    }
    .titulo-sec3, .texto-sec3, .div-botao-sec3 {
        grid-column: 1/3;
    }
    /* ----------- SEC4 ------------ */

    .img1-sec4 {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .img2-sec4 {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .img3-sec4 {
        display: none;
    }
    .img4-sec4 {
        display: none;
        
    }
}



/* --------------------------- */



@media (min-width: 850px){
    .div-menu-button {
        display: none;
    }
    .logo-atmosfera {
        width: 260px;
    }
}
@media (max-width: 850px){
    .nav-table {
        display: none;
    }
    .logo-atmosfera {
        width: 180px;
    }

    /* ----------- SEC4 ------------ */

    .centralizador-fotos-sec4 {
        display: none;
    }

    .div-titulo-sec4 {
        grid-column: 1/3;
    }
    .div-texto-sec4 {
        grid-column: 1/3;
    }
    .div-botao-sec4 {
        grid-column: 1/3;
    }

}

@media (max-width: 400px){
    .menu-button {
        height: 18px;
    }
    .logo-atmosfera {
        width: 130px;
    }

    .container-comida {
        width: 100%;
        margin: 0;
    }
    .bloco-texto {
        width: 100%;
        margin: 0;
    }

    button {
        max-width: 170px !important;
        font-size: 19px !important;
    }
    

    .linha-contorno-geral {
        margin: 0;
        padding: 10px 5px;
        border: none;
    }

}
@media (max-height: 700px) {
    .top-nav {
        height: 85px;
    }
    .bottom-nav {
        margin-top: 83px;
    }
    .logo-atmosfera {
        top: -3px !important;
    }
    .div-menu-button {
        top: 14px !important;
    }
    .logo-atmosfera {
        width: 180px !important;
    }
    .nav-table {
        top: 23px !important;
    }
    
}    
